*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.header {
    /*position: fixed;*/
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background: red;
    z-index:1000;
}

.headericons {
    display: flex;
    margin-right: 15px;
    align-items: center;
    width: 200px;
    justify-content: space-around;
    background-color: teal;
}

.headericons>span{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


.button {
    
    border: solid rgb(79, 123, 152);
    background-color: rgb(79, 123, 152);
    border-radius: 10%;
    margin-right: 10px;
    width: 121px;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white; 
}


.login {
    width: 65px;
    height: 34px;
}
.headerbuttons {
    background-color: blue;
}



.Main{
    display: flex;
    flex-flow: row nowrap ;
    justify-content: center;
    background: black;
    border: 1px solid green; 
}
    .title{
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 55px;
        background-color: orange;
        height: 100px;
        width: 620px;
    }
    .cosmo { 
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: yellow;
        height: 530px;
        width: 947px;

    }
    .imageCosmo{
        height: 530px;
        width: 947px;
    }
    .description{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: blue;
        height: 75px;
        width: 947px;

    }        
    
    .Autor{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: green;
        height: 50px;
        width: 610px;
    }
    .date{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: orange;
        height: 50px;
        width: 610px;
    }

    .text1{
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: auto;
        background-color: green;
        /* height: 380px;  */
        width: 610px;
    }
    .subscribe{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: yellow;
        height: 80px; 
        width: 610px;
    }
    .text2{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: paleturquoise;
        height: 440px;
        width: 610px;
    }

    .aside{
        float: right;
        position: relative;
        margin-right: -355px;
        margin-top: -170px;
        border: 1px solid red;/* take care */
        background: purple;
        width: 200px;
    }
        .editor{
            font-weight: bold;
            font-size: 12px;
            background-color: greenyellow;
            height: 310px;
            width: 200px;
            margin-left: -270px; 
        }
            .picks {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                width: 210px;
                height: 78px;
            }

            .picksImage {
                width: 76px;
                height: 76px;
            }
            .picksText {
                font-family: "Times New Roman", Times, serif;
                margin-left: 10px;
                font-size: 15px;
                width: 120px;
            }

    .image2{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: yellow;
        height: 638px;
        width: 955px;
    }
    .text3{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: rosybrown;
        height: 50px;
        width: 610px;
    }
    .video{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: blue;
        height: 50px;
        width: 610px;
    }
    .text4{
        display: flex;
        justify-content: center;
        margin: auto;;
        background-color: green;
        height: 50px;
        width: 610px;
    }
    .image3{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: orange;
        height: 723px;
        width: 578px;
    }
    .text5{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: purple;
        height: 50px;
        width: 610px;
    }
    .readComments{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: green;
        height: 50px;
        width: 610px;
    }
    .image4{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: yellow;
        height: 900px;
        width: 852px;
    }
    .mostPopular{
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: red;
        height: 50px;
    }



