*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    /*position: fixed;*/
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background: red;
    z-index:1000;
}

.titletop {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Main{
    display: flex;
    flex-flow: row nowrap;
    background-color: black;
    justify-content: center;
    
}
    .middle{
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width:300px;
    }
    .title{
        display: flex;
        /* flex-flow: column; */
        background-color: orange;
        height: 100px;
        width: 620px;
    }
    .image1{
        display: flex;
        flex-flow: column;
        background-color: yellow;
        height: 530px;
        width: 947px;

    }
    .description{
        display: flex;
        flex-flow: column;
        background-color: blue;
        height: 75px;
        width: 947px;

    }
    .Autor{
        display: flex;
        flex-flow: column;
        background-color: green;
        height: 50px;
        width: 610px;

    }
    .date{
        display: flex;
        flex-flow: column;
        background-color: orange;
        height: 50px;
        width: 610px;

    }

    .section{
        background-color: black;
        display: flex;
    }
        .articles{
            background: brown;
            flex: 1 1 auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }

            .text1{
                display: flex;
                flex-flow: column;
                background-color: green;
                height: 370px;
                width: 610px;

            }
            .subscribe{
                display: flex;
                flex-flow: column;
                background-color: yellow;
                height: 90px;
                width: 360px;

            }
            .text2{
                display: flex;
                flex-flow: column;
                background-color: paleturquoise;
                height: 470px;
                width: 610px;
            }

        .aside{
            background-attachment: red;
            width: 200px;
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .editor{ /* this is for aSide */
                display: flex;
                flex-flow: column;
                background-color: greenyellow;
                height: 310px;

            }

    .image2{
        display: flex;
        flex-flow: column;
        background-color: yellow;
        height: 638px;
        width: 955px;
    }
    .text3{
        display: flex;
        flex-flow: column;
        background-color: rosybrown;
        height: 50px;
        width: 610px;
    }
    .video{
        display: flex;
        flex-flow: column;
        background-color: blue;
        height: 50px;
        width: 610px;
    }
    .text4{
        display: flex;
        flex-flow: column;
        background-color: green;
        height: 50px;
        width: 610px;
    }
    .image3{
        display: flex;
        flex-flow: column;
        background-color: orange;
        height: 723px;
        width: 578px;
    }
    .text5{
        display: flex;
        flex-flow: column;
        background-color: purple;
        height: 50px;
        width: 610px;
    }
    .readComments{
        display: flex;
        flex-flow: column;
        background-color: green;
        height: 50px;
        width: 610px;
    }
    .image4{
        display: flex;
        flex-flow: row;
        background-color: yellow;
        height: 900px;
        width: 852px;
    }
    .mostPopular{
        display: flex;
        flex-flow: row;
        background-color: red;
        height: 50px;
    }
   


